.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.black-font{
	color: black;
}

.btn-white{
	background: white;
	color: black;
}

.pilihan {
	box-sizing: border-box;
	padding: 5px;
}