.box-card{
	box-sizing: border-box;
	padding: 15px;
}

label{
	color: #000
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.btn-white{
	background: #fff,
	color #000
}
